@model frontendApi.Models.LoginModel

<h1>Login</h1>

@using (Html.BeginForm())
{
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
}